@use '../utils' as *;

.card {
  width: 100%;
  max-width: rem(356);
  padding: rem(24) rem(32);
  border-radius: 4px;
  background-color: var(--clr-ntrl);
  box-shadow: rgba(#959DA5, 0.2) 0 8px 24px;

  &__icon {
    width: rem(16);
  }

  &__desc {
    margin: rem(16) 0;
    font-size: rem(14);
    line-height: 1.6;
  }

  &__foot {
    display: grid;
    grid-template: auto auto / auto 1fr;
    gap: rem(2) rem(8);
    line-height: 1;
  }

  &__pic {
    width: rem(32);
    grid-row: 1 / 3;
    border-radius: 50%;
  }

  &__top {
    padding-top: 1px;
    font-size: rem(12);
    font-weight: 700;
    align-self: end;
  }

  &__sub {
    font-size: rem(10);
    align-self: start;
  }
}
