// Mixin to manage responsive breakpoints

// 400px, 768px, 1024px, 1440px
$breakpoints: (
  'sm': 25em,
  'md': 48em,
  'lg': 64em,
  'xl': 90em
);

@mixin respond-to($size) {
  @media (min-width: map-get($breakpoints, $size)) {
    @content;
  }
}

// Helper mixins
@mixin flex-h {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-v {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  @include respond-to('lg') {
    align-items: start;
  }
}
