:root {
  --clr-main: hsl(243, 87%, 12%);
  --clr-main-lt: hsl(238, 22%, 44%);

  --clr-blue: hsl(224, 93%, 58%);
  --clr-green: hsl(168, 47%, 32%);

  --clr-ntrl: hsl(0, 0%, 100%);

  --ff-base: 'Open Sans', sans-serif;
  --ff-alt: 'Raleway', sans-serif;
  --ff-icon: 'social-media';
}
