@use '../utils' as *;

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(24);
  width: 100%;
  padding: rem(100) rem(44) rem(86);
  text-align: center;
  color: var(--clr-ntrl);
  background-color: var(--clr-main-lt);

  @include respond-to('lg') {
    flex-direction: row;
    justify-content: space-between;
    padding-inline: rem(80);
    text-align: left;
  }

  &__title {
    margin-bottom: rem(16);

    @include respond-to('xl') {
      font-size: rem(32);
    }
  }

  &__desc {
    letter-spacing: 0.5px;
  }
}
