@use '../utils' as *;

.hero {
  width: 100%;
  padding: rem(22) rem(36) rem(200);
  text-align: center;
  background-image: url('/src/assets/img/bg-curve-mobile.svg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: left bottom;

  @include respond-to('md') {
    background-image: url('/src/assets/img/bg-curve-desktop.svg');
  }

  @include respond-to('lg') {
    @include flex-h;
    padding-inline: rem(80);
    text-align: left;
  }

  @include respond-to('xl') {
    padding-bottom: rem(277);
  }

  &__fig {
    max-width: rem(532);
    margin: 0 auto rem(44);

    @include respond-to('lg') {
      margin: 0;
    }

    @include respond-to('xl') {
      max-width: rem(640);
    }
  }

  &__content {
    @include flex-v;

    @include respond-to('xl') {
      padding-bottom: rem(44);
    }
  }

  &__title {
    max-width: 25ch;
  }

  &__desc {
    margin-bottom: rem(8);

    @include respond-to('xl') {
      font-size: rem(18);
      line-height: 1.34;
    }
  }
}
